* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    background-color: #fefbce;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-flush>.list-group-item {

    border-top: solid 1px #c8c8c8;
}


/* Style the list items */
ul li {

    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

/* Add a light grey background color on hover */
ul li:hover {
    background-color: #eee;
}

/* Style the close button (span) */
.close {
    cursor: pointer;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    top: 50%;
    right: 0%;
    border: solid 2px #656565;
    transform: translate(0%, -50%);
    margin-right: 20px !important;
    border-radius: 50px;
    font-family: sans-serif;
}


.tareaOculta .close {
    display: none;
}


.tareaOculta:hover .close {
    display: block;
}